<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>
<body>
    <div>
        <h2>Registration</h2>
        <form action="/register" method="POST">
            <input type="text" id="first_name" name="first_name" placeholder="Enter your firstname">
            <input type="text" id="last_name" name="last_name" placeholder="Enter your lastname">
            <input type="text" id="email" name="email" placeholder="Enter your email">
            <input type="text" id="contact" name="contact_number" placeholder="Enter your contact number">
            <input type="text" id="password" name="password" placeholder="Enter your password">
            <input type="text" id="password" name="confirm_password" placeholder="Confirm your password">
            <input type="submit" value="Register" class="button">
        </form>
    </div>
    
    <div>
        <h2>Login</h2>
        <form action="/students/profile" method="POST">
            <input type="text" id="email" name="email" placeholder="Enter your email">
            <input type="text" id="password" name="password" placeholder="Enter your password">
            <input type="submit" value="Login" class="button">
        </form>
    </div>
    
</body>
</html>
