<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>
<body>
    <form action="/logout" method="get" id="logout">
        <input type="submit" id="logout_btn" class="button" value="Logout">
    </form>
    <main>
        <h1>Welcome <%= results[0].first_name %></h1>
        <p>First Name: <%= results[0].first_name %></p>
        <p>Last Name: <%= results[0].last_name %></p>
        <p>Email: <%= results[0].email %></p>
    </main>
</body>
</html>
